* {
  margin: 0;
  padding: 0;
}

.header-logo-icon {
  display: flex;
  justify-content: center;
  background-color: #f7f7f7;
}

.navbar {
  justify-content: center;
}
.navbar ul {
  display: flex;
  list-style-type: none;
  column-gap: 50px;
}

ul li a {
  text-decoration: none;
  color: black;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navbar .search-container button {
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.navbar .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .navbar .search-container {
    float: none;
  }
  .navbar a,
  .navbar input[type="text"],
  .navbar .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .navbar input[type="text"] {
    border: 1px solid #ccc;
  }
}

.carousel-inner {
  height: 800px;
}

.container {
  margin-top: 20px;
}

.container h1 {
  text-align: center;
}

.col {
  margin-bottom: 10px;
}

.container-contact {
  display: flex;
  justify-content: center;
  background-color: darkgrey;
  margin-top: 20px;
  column-gap: 50px;
  height: 50px;
  font-size: 21px;
  padding-top: 8px;
}
