/* Default CSS - START */
* {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

.fa {
  font-family: "FontAwesome";
}

body {
  line-height: normal;
  font-size: 16px;
  color: #252a2b;
  overflow-x: hidden; /* tạo thanh scroll ngang */
  background: aliceblue;
  position: initial !important;
}

header,
footer,
hgroup,
menu,
nav,
section {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #252a2b;
  margin-bottom: 13px;
  line-height: 1.2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  margin: 0 0 10px 0;
  line-height: 20px;
}
/* Default CSS - END */

/* Tag a CSS - START */
a {
  color: #252a2b;
  text-decoration: none;
  outline: none;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover,
a:focus {
  color: deepskyblue;
  text-decoration: none;
  outline: none;
}
a:active {
  outline: none;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #252a2b;
  line-height: 1.1;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: deepskyblue;
}
/* Tag a CSS - END */

/* Header - START */
.header-top {
  background-color: black;
  color: #fff;
  height: 30px;
  padding: 0.25%;
  text-align: center;
  font-size: 12px;
}

.header-middle {
  height: 10vh;
  padding-top: 1%;
  width: 60%;
  display: flex;
  text-align: center;
}

.header-middle .fa {
  font-size: 1.4rem;
  padding-top: 10px;
  cursor: pointer;
  text-align: right;
}

.header-middle .icon i {
  padding: 0 10px;
}

.fa-bars,
.search-input {
  display: none;
}

.navbar {
  font-size: 18px;
}

.line1,
.line2,
.line3,
.line4,
.line5,
.line6 {
  background-color: lightblue;
  height: 1px;
  display: none;
}
.home1:hover .line1 {
  display: block;
}
.home2:hover .line2 {
  display: block;
}
.home3:hover .line3 {
  display: block;
}
.home4:hover .line4 {
  display: block;
}
.home5:hover .line5 {
  display: block;
}
.home6:hover .line6 {
  display: block;
}
/* Header - END */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
.blank-search {
  width: 40%;
}

/* The Close Button */
.close,
.close1,
.close2 {
  color: #000;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.close1:hover,
.close1:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.close2:hover,
.close2:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: white;
  color: white;
}
.modal-header h2 {
  text-align: center;
  font-size: 1.6rem;
  padding-top: 14px;
}

.modal-body {
  padding: 2px 16px;
}

.search {
  width: 100%;
  padding: 0 10% 0 20%;
}
.search input {
  background-color: rgb(230, 227, 227);
}
.search i {
  font-size: 1.2rem;
  padding: 6px 10px 6px 10px;
  cursor: pointer;
  height: 38px;
}
.search i:hover {
  border: 1px solid black;
  border-radius: 5px;
}
.policy {
  /* color: blue!important; */
  font-size: 0.8rem;
}
.user-title {
  display: flex;
}
.user-title {
  width: 100%;
}
.user-title h3 {
  width: 80%;
  padding: 10% 0 5% 0;
  text-align: right;
}
.user-title span {
  padding-left: 20%;
}
.total h4 {
  padding-left: 20%;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.modal button {
  background-color: #66a55f;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.modal button:hover {
  background-color: white;
  color: #66a55f;
  border: 1px solid #66a55f;
}

.container {
  padding: 8px 16px;
}

span.psw {
  float: right;
}

.content {
  background-color: #fefefe;
  margin: 1% auto 5% auto;
  border: 1px solid #888;
  width: 80%;
}

#warning1 {
  color: red;
  display: none;
  padding-bottom: 1%;
}
#warning2 {
  color: red;
  display: none;
  padding-bottom: 1%;
}

#login1 {
  display: none;
  width: 50%;
  margin: 5% 50%;
  transform: translateX(-50%);
  text-align: center;
}
#login1 img {
  width: 30%;
  height: 40%;
  margin: 10% 50%;
  transform: translateX(-50%);
  border-radius: 50%;
}
.link-register {
  text-align: center;
}
.close2 {
  padding-right: 2%;
}
.modal-header-cart {
  border-bottom: 1px solid rgb(209, 209, 209);
}
.cart-head h3 {
  text-align: center;
  padding-top: 5%;
  padding-left: 10%;
}
.fa-cart-plus {
  font-size: 5rem;
  color: #66a55f;
  padding-left: 45%;
  width: 100%;
}
.word-cart {
  text-align: center;
  padding: 3% 0 0 5%;
}
.count-money {
  padding: 5% 0 5% 0;
}
.money-red {
  float: right;
  color: red;
  font-size: 1rem;
  font-weight: 900;
}
.btn-cart {
  display: flex;
  /* padding: 0 5% 2% 5%; */
}
.money-cart1,
.money-cart2 {
  width: 40%;
}
.money-cart1 {
  margin-right: 15%;
}

.navlist {
  position: absolute;
  height: 80%;
  width: 100%;
  top: 15vh;
  left: 0;
  z-index: 1;
  background-color: white;
  border-top: 1px solid rgb(209, 209, 209);
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  opacity: 0;
  visibility: hidden;
}
.navlist ul li {
  padding: 1%;
  cursor: pointer;
}
.navlist ul li:hover {
  color: #66a55f;
}
.line-menu {
  background-color: rgb(209, 209, 209);
  height: 1px;
  margin-top: 2%;
}
.active {
  opacity: 1;
  visibility: visible;
}
@media only screen and (max-width: 768px) {
  .fa-bars,
  .search-input {
    display: block;
    /* padding-top: 8%; */
  }
  .search-input-btn {
    padding-left: 10%;
  }
  .search-input-btn input {
    background-color: rgb(247, 247, 247);
    /* padding-top: 1%; */
  }
  .search-input-btn i {
    padding: 0.7% 6% 6.3% 6%;
    font-size: 1.6rem;
    /* margin-top: 9%; */
  }
  .search-input-btn i:hover {
    border: 1px solid #66a55f;
    border-radius: 5px;
    color: #66a55f;
    height: 6.2vh;
    cursor: pointer;
    /* padding-bottom: 4%; */
  }
  .fa-search1 {
    display: none;
  }

  .navbar {
    display: none;
  }
  .foot-icon-email {
    width: 100vw;
  }
  .foot-up {
    height: 38vh;
  }
  .foot-icon-email {
    text-align: center;
    padding: 1% 0 2% 0;
  }
  .foot-input-email,
  .foot-register {
    text-align: center;
  }
  .col-md-6 {
    width: 50%;
  }
  .foot-middle {
    height: 80vh;
    /* padding: 6vh 0; */
    /* width: 90%;
      padding-left: 5%; */
  }
  .introdution,
  .infomation,
  .link,
  .support {
    padding: 0 5% 2% 5%;
  }
}
@media only screen and (max-width: 576px) {
  .header-logo a {
    /* height: 30vh;
      width: 80%; */
    font-size: 1rem;
    /* padding-bottom: 2%; */
  }
  .search-input-btn input {
    width: 80%;
  }
  .search-input-btn i {
    padding: 2.4% 6% 8.3% 6%;
    font-size: 1.2rem;
    /* margin-top: 9%; */
  }
  .search-input-btn i:hover {
    border: 1px solid #66a55f;
    border-radius: 5px;
    color: #66a55f;
    /* height: 6.4vh; */
    cursor: pointer;
    /* padding-bottom: 4%; */
  }
  .foot-up,
  .foot-middle {
    display: none;
  }
}

/* .navbar ul {
  display: flex;
  list-style-type: none;
  column-gap: 20px;
  padding-top: 30px;
}

ul li a {
  text-decoration: none;
  color: black;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navbar .search-container button {
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.navbar .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .navbar .search-container {
    float: none;
  }
  .navbar a,
  .navbar input[type="text"],
  .navbar .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .navbar input[type="text"] {
    border: 1px solid #ccc;
  }
}

.w-100 {
  width: 100% !important;
  height: 75vh;
}

.carousel-indicators button {
  width: 14px;
  height: 14px;
  border-radius: 100%;
}

.container h1 {
  text-align: center;
}

.col {
  margin-bottom: 10px;
}

.card {
  width: 280px;
  height: 380px;
  border: none;
}

.card-body {
  text-align: center;
}

.card-title {
  font-weight: bold;
}

.container-fluid {
  padding: 0;
}

.card-group .card {
  width: 100%;
  margin: 0 0 0 8px;
  padding: 0 12px 0 0;
}

.card-group .card img {
  width: 100%;
  height: 380px;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
}

.card-group .card img:hover {
  transform: scale(1.5);
}

.img-container {
  border: 1px solid #ccc;
  height: auto;
  margin: 10px auto;
  overflow: hidden;
  position: relative;
  width: 600px;
}

.img-container img {
  width: 100%;
  transition: all 1s;
}

.img-container:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.card-img-overlay {
  font-size: 25px;
}

.container-contact {
  background-color: darkgrey;
  height: auto;
  font-size: 15px;
  padding-top: 8px;
  margin: 10px 0 0 0;
}

.info-mail,
.footer-introduce {
  padding-left: 300px;
}

.footer-link {
  padding-left: 200px;
}

.footer-container {
  font-size: 15px;
}

.footer-contact {
  line-height: 0.7;
}

.footer-contact ul li {
  list-style-type: none;
} */

/* Start setup defaults */
/* html,
body {
  border: 0;
  background-color: #fff;
}
html {
  font-size: 100%;
} */
/* img {
  max-width: 100%;
} */

/* 1.5 - Links and Buttons */

/* End setup defaults */

/* Start Footer */
.footer .container-fluid {
  padding: 0;
}
.footer .container-fluid .col-md-12 {
  padding: 0;
}
.foot-up {
  background-color: #f3f3f3;
  height: 16vh;
  padding-top: 20px;
  font-size: 1rem;
}
.foot-icon-email {
  padding-top: 20px;
}
.foot-icon i {
  font-size: 1.6rem;
  padding-right: 10px;
}
.input-email {
  height: 6vh;
  border: none;
}
.foot-input-email {
  height: 6vh;
  background-color: crimson;
  color: white;
  text-align: center;
  padding-top: 20px;
  transition: 0.5s;
  margin-top: 8px;
}

.foot-input-email:hover {
  background-color: white;
  color: crimson;
  border: 1px solid crimson;
}
.foot-register {
  margin-top: 1.7%;
}
.phone-icon {
  font-size: 1.6rem;
}
.foot-middle {
  height: 40vh;
}
.foot-middle {
  padding-top: 3%;
  padding-bottom: 20%;
}
.introdution a img {
  height: 55px;
  width: 150px;
  display: block;
  margin: 15px 0;
}
.foot-icon i {
  width: 40px;
  height: 40px;
  padding: 2% 2% 2% 1.5%;
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
}
/* .fa-facebook:hover {
  color: #66a55f;
  border: 1px solid #66a55f;
}
.fa-twitter:hover {
  color: #66a55f;
  border: 1px solid #66a55f;
}
.fa-instagram:hover {
  color: #66a55f;
  border: 1px solid #66a55f;
}
.fa-google:hover {
  color: #66a55f;
  border: 1px solid #66a55f;
}
.fa-youtube-play:hover {
  color: #66a55f;
  border: 1px solid #66a55f;
} */
.infomation i {
  font-size: 1.5rem;
}
.address {
  display: flex;
}
.address i {
  padding-right: 30px;
}
.phone i {
  padding-right: 20px;
}
.fax i {
  padding-right: 18px;
}
.email i {
  padding-right: 18px;
}
.link span {
  display: block;
  padding-bottom: 8px;
}
.support span {
  display: block;
  padding-bottom: 10px;
}
.foot-down {
  height: 10vh;
  padding-top: 3vh;
  border-top: 1px solid rgb(209, 209, 209);
}
/* End Footer */
