.menu-link {
  height: 40px;
  padding: 10px 160px;
  background-color: #f5f5f5;
  margin-bottom: 20px;
  font-size: 16px;
}

.left-module {
  padding: 10px 140px;
  line-height: 1.6;
}

.sub-title {
  margin-bottom: 10px;
}

.sub-title span {
  font-weight: bold;
  font-size: 14px;
}

.sub-title i {
  font-size: 11px;
  vertical-align: middle;
}

.left-module label:hover {
  color: crimson;
  cursor: pointer;
}
